<header class="app-header">
  <mat-toolbar>
    <img class="texto-logo" src="assets/imagens/lawrana-texto.png" alt="Logo da aplicação memoteca">
    <span class="spacer">Lawrana</span>
    <div class="links-toolbar">
      <button mat-button (click)="sobre()">Sobre</button>

      <ng-container *ngIf="isUserOrEmpresaPresent$ | async; else login">
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >
          <img width="48px" height="32px" src="assets/imagens/user-icon.png">
        </a>
        <button mat-stroked-button (click)="logout()">Sair</button>
      </ng-container>

      <ng-template #login>
        <button mat-raised-button color="primary" (click)="empresaLogin()">Login Empresa</button>
        <button mat-stroked-button (click)="usuarioLogin()">Login usuario</button>
      </ng-template>


    </div>

  </mat-toolbar>
</header>
