.chat-container {
  display: flex;
  flex-direction: column;

  /*height: 500px;*/ /* Altura fixa */
  overflow-y: auto;
  border: 0px solid #ccc; /* Adicionar uma borda para melhor visualização */
  margin: 0 auto; /* Centralizar horizontalmente */
}
