<div id="loginModal" class="modal">
  <div class="modal-content">
    <div class="modal-left">
      <img src="assets/imagens/logo.png" alt="Imagem do Sistema">
    </div>
    <div class="modal-right">
      <h3>Empresa Login</h3>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Informe seu e-mail">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput type="password" placeholder="Informe sua senha">
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Senha obrigatória</mat-error>
          </mat-form-field>
        </div>
        <button [disabled]="loginForm.invalid" mat-flat-button color="primary" (click)="login()">
          Ok
        </button>
      </form>
    </div>
  </div>
</div>

