<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container id="home_nav">
  <mat-sidenav opened mode="side" [style.width]="sideNavWidth()">
    <app-meu-sidenav [collapsed]="collapsed()" [menuItems]="menuItems"></app-meu-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()" >
    <!-- menu {{ tipo }} -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

