<div id="loginModal" class="modal">
<section class="login-component">
<mat-card class="login">

  <div class="modal-content">
    <div class="modal-left">
      <img src="assets/imagens/logo.png" alt="Imagem do Sistema">
    </div>
    <div class="modal-right">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <input formControlName="codigo_empresa" matInput type="text" placeholder="Informe sua empresa">
            <mat-error *ngIf="loginForm.get('codigo_empresa')?.errors?.['required']">Empresa obrigatória</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Informe seu e-mail">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput type="password" placeholder="Informe sua senha">
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Senha obrigatória</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="loginForm.invalid" mat-flat-button color="primary" (click)="login()">
            Ok
          </button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</mat-card>
</section>
</div>

<!--
<section class="login-component">
  <mat-card class="login">
    <div class="modal-left">
      <figure>
        <img src="assets/imagens/logo.png" alt="Imagem do Sistema">
      </figure>
    </div>
    <div class="form-container">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <input matInput type="text" placeholder="Informe sua empresa">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Informe seu e-mail">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Informe sua senha">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">
            Ok
          </button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</section>
-->
