<h3>Usuarios</h3>
<button mat-flat-button color="primary" routerLink="/empresa/usuarios/novo">
  <mat-icon>add</mat-icon>
  Novo usuario
</button>
<div class="usuarios-container">
  <div *ngIf="usuariosPaginado.usuarios; else semUsuarios">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Código integração</th>
          <th>Data de cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosPaginado.usuarios">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.codigo_usuario_integracao }}</td>
          <td>{{ usuario.data_cadastro }}</td>
          <td>
            <button mat-mini-fab color="warn" matTooltip="Deletar usuario" class="fab-button" aria-label="Deletar" (click)="openConfirmDialog(usuario.codigo_usuario)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<mat-paginator [length]="usuariosPaginado.qtd_usuarios"
              (page)="handlePageEvent($event)"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page">
    </mat-paginator>

<ng-template #semUsuarios>
  <div class="ff-inter sem-usuarios">
    <p>Ainda não há usuarios cadastrados.</p>
  </div>
</ng-template>

