<h3>Usuarios</h3>
<div class="usuarios-container">
  <div *ngIf="usuarios.length > 0; else semUsuarios">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Código integração</th>
          <th>Data de cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.codigo_usuario_integracao }}</td>
          <td>{{ usuario.data_cadastro }}</td>
          <td>
            <button mat-mini-fab color="warn" matTooltip="Deletar usuario" class="fab-button" aria-label="Deletar" (click)="openConfirmDialog(usuario.codigo_usuario)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #semUsuarios>
  <div class="ff-inter sem-usuarios">
    <p>Ainda não há usuarios cadastrados.</p>
  </div>
</ng-template>

