.snackbar-content {
  padding: 16px;
  border-radius: 4px; /* Optional: For rounded corners */
  display: flex;
  align-items: center;
  border: none !important;
}

.error {
  background-color: #f44336; /* Vermelho para erro */
  color: #fff;
  --mdc-snackbar-container-color: #f44336;
  outline: 3px solid #f44336;
  border: none !important;
  border-radius: 5px;
  outline-offset: 2px;

  --mdc-snackbar-container-color: #f44336;
}

.success {
  background-color: #4caf50; /* Verde para sucesso */
  color: #fff;
  --mdc-snackbar-container-color: #4caf50;
  outline: 3px solid #4caf50;
  border: none !important;
  border-radius: 5px;
  outline-offset: 2px;

  --mdc-snackbar-container-color: #4caf50;
}

.message-content {
  display: flex;
  align-items: center;
  border: none !important;
}

.icon {
  font-size: 24px; /* Adjust icon size */
  margin-right: 8px; /* Space between icon and text */
  border: none !important;
}

::ng-deep .custom-snackbar .error {
  background-color: none !important;
  border: none !important;
  --mdc-snackbar-container-color: none !important;
}

::ng-deep .custom-snackbar .success {
  background-color: none !important;
  border: none !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  color: var(--mdc-snackbar-supporting-text-color);
  border-radius: var(--mdc-snackbar-container-shape);
  background-color: none !important;
}

::ng-deep .mat-mdc-snackbar-container .mat-mdc-snackbar-surface {
  background: none !important;
  border: none !important;
}
