<mat-card class="card-assistente">
  <img mat-card-image src="assets/imagens/diretorio.png" alt="Diretorio">
  <mat-card-content>
    <ul>
      <li>{{ diretorio.nome_diretorio }}</li>
      <li>Sub diretorio: {{ diretorio.nome_diretorio.length }}</li>
      <li>Documentos: {{ diretorio.documentos.length }}</li>
    </ul>
  </mat-card-content>

  <mat-card-actions class="button-wrapper">
    <button mat-mini-fab color="primary" matTooltip="Abrir pasta" class="fab-button" aria-label="Abrir" routerLink="/usuario/uploads/{{ diretorio.codigo_diretorio }}">
      <mat-icon>folder_open</mat-icon>
    </button>
    <button mat-mini-fab color="primary" matTooltip="Criar novo chat" class="fab-button" aria-label="Novo chat" >
      <mat-icon>add_comment</mat-icon>
    </button>
    <button mat-mini-fab color="warn" matTooltip="Deletar assistente" class="fab-button" aria-label="Deletar" >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
