<div class="flex-container">
  <div class="div-foto">
    <img width="200" height="200" *ngIf="assistente.foto" [src]="assistente.foto" alt="Imagem assistente">
    <button mat-fab color="primary" (click)="fileInput.click()" aria-label="Example icon button with a delete icon">
      <mat-icon>camera</mat-icon>
    </button>

    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
  </div>
  <mat-form-field class="input_container" appearance="outline" [style.width.px]=500>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" [(ngModel)]="assistente.nome" >
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="outline">
    <mat-label>Modelo</mat-label>
    <mat-select [(ngModel)]="assistente.nome_modelo">
      <mat-option value="OpenAi">OpenAi</mat-option>
      <mat-option value="Gemini">Gemini</mat-option>
      <mat-option value="Claude">Claude</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Escopo</mat-label>
    <mat-select [(ngModel)]="assistente.escopo">
      <mat-option value="Compartilhado">Compartilhado</mat-option>
      <mat-option value="Privado">Privado</mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
    <mat-label>Descrição</mat-label>
    <input matInput placeholder="Descrição" [(ngModel)]="assistente.descricao" >
  </mat-form-field>
  <p></p>
  <mat-form-field [style.width.px]=500 appearance="outline">
    <mat-label>Contexto</mat-label>
    <textarea matInput [(ngModel)]="assistente.contexto"></textarea>
  </mat-form-field>
<p></p>

</div>
<div class="acoes">
  <button (click)="alterarAssistente()"  mat-flat-button color="primary">Salvar</button>
  <button routerLink="/usuario/assistentes" mat-flat-button color="warn">Cancelar</button>
</div>
