<mat-card-actions class="acoes">
  <figure>
    <img height="32px" width="32px" [src]="chat.foto_assistente" alt="assistente" class="foto_assistente">
  </figure>
  <h3>{{ chat.nome_assistente }} - {{ chat.nome_chat }}</h3>
  <button mat-flat-button color="warn" (click)="deletarChat(chat.codigo_chat!)">
    <mat-icon>delete</mat-icon>
    Apagar chat
  </button>
</mat-card-actions>
<div #chatContainer class="chat-container">
  <div *ngFor="let message of chat.mensagens" [ngClass]="{'user-message': message.tipo_mensagem === 'Usuario', 'assistant-message': message.tipo_mensagem === 'Assistente'}">
    <button mat-flat-button color="primary" *ngIf="message.tipo_mensagem === 'Assistente'" (click)="copyCode(message.mensagem)" class="copy-button">Copiar</button>
    <!--<app-code-chat @exibeMensagem *ngIf="isCodeMessage(message.mensagem)" [code]="message.mensagem"></app-code-chat>
    <span @exibeMensagem  *ngIf="!isCodeMessage(message.mensagem)" [innerHTML]="message.mensagem"></span>-->

    <app-code-chat *ngIf="message.nome_documento === ''" @exibeMensagem [code]="message.mensagem"></app-code-chat>
    <app-document-chat *ngIf="message.nome_documento !== ''" [fileName]="message.nome_documento"></app-document-chat>

    <!--<span  [innerHTML]="message.mensagem"></span>-->
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <app-chat-spinner [foto_assistente]="chat.foto_assistente"></app-chat-spinner>
  </div>
</div>

<div class="input-container">
  <button mat-mini-fab matTooltip="Anexar documento" class="fab-button" aria-label="Anexar" (click)="openAnexaDocumentModal()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <input [(ngModel)]="mensagem" placeholder="Digite sua mensagem..."  />
  <button mat-flat-button color="primary" (click)="sendMessage()">Enviar</button>
</div>
