<mat-card-actions class="acoes">
  <button mat-flat-button color="warn" routerLink="/usuario/assistentes/criarAssistente">
    <mat-icon>delete</mat-icon>
    Apagar chat
  </button>
</mat-card-actions>
<div class="chat-container">
  <div *ngFor="let message of mensagens" [ngClass]="{'user-message': message.tipo_mensagem === 'usuario', 'assistant-message': message.tipo_mensagem === 'assistente'}">
    {{ message.texto_mensagem }}
  </div>
</div>
<div class="input-container">
  <input  placeholder="Digite sua mensagem..."  />
  <button (click)="sendMessage()">Enviar</button>
</div>
