<h3>Configurações</h3>
<div>
  <form>
    <!--<mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Configuração de pasta</mat-label>
      <mat-slide-toggle [(ngModel)]="empresa.configuracoes.disponibiliza_pasta_empresa" name="pasta_empresa">Pasta empresa</mat-slide-toggle>
      <input hidden matInput placeholder="Senha padrão" [(ngModel)]="empresa.configuracoes.disponibiliza_pasta_empresa" name="pasta_empresa" readonly>
    </mat-form-field>-->
    <p></p>
    <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Configuração de pasta e senha padrão</mat-label>
      <mat-slide-toggle [(ngModel)]="empresa.configuracoes.disponibiliza_pasta_empresa" name="pasta_empresa">Pasta empresa</mat-slide-toggle>
      <p></p>
      <input matInput placeholder="Senha padrão" [(ngModel)]="empresa.configuracoes.senha_padrao" name="senha_padrao">
    </mat-form-field>
    <p></p>
    <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Openai</mat-label>
      <mat-slide-toggle [(ngModel)]="empresa.configuracoes.disponibiliza_token_openai" name="token_openai">Token Openai</mat-slide-toggle>
      <p></p>
      <input matInput placeholder="OpenAi token" [(ngModel)]="empresa.configuracoes.openai_token" name="openai">
    </mat-form-field>

    <p></p>

    <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Gemini</mat-label>
      <mat-slide-toggle [(ngModel)]="empresa.configuracoes.disponibiliza_token_gemini" name="token_gemini">Token Gemini</mat-slide-toggle>
      <p></p>
      <input matInput placeholder="Gemini token" [(ngModel)]="empresa.configuracoes.gemini_token" name="gemini">
    </mat-form-field>

    <p></p>
    <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Claude</mat-label>
      <mat-slide-toggle [(ngModel)]="empresa.configuracoes.disponibiliza_aws_claude" name="aws_claude">Aws Claude</mat-slide-toggle>
      <p></p>
      <input matInput placeholder="Claude token" [(ngModel)]="empresa.configuracoes.qtd_claude_token" name="claude" readonly>
    </mat-form-field>

    <p></p>
    <mat-form-field class="input_container" appearance="outline" [style.width.px]=700>
      <mat-label>Url SSO</mat-label>
      <input matInput placeholder="https://" [(ngModel)]="empresa.configuracoes.url_status_usuario" name="url_sso">
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="outline">
      <mat-label>Armazenamento</mat-label>
      <mat-select [(ngModel)]="empresa.configuracoes.tamanho_armazenamento" name="armazenamento">
        <mat-option value="1">1 GB</mat-option>
        <mat-option value="2">2 GB</mat-option>
        <mat-option value="5">5 GB</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="acoes">
      <button mat-flat-button color="primary" (click)="alterarConfiguracaoEmpresa()">Salvar</button>
    </div>
  </form>
</div>

