.example-tree-progress-bar {
  margin-left: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  row-gap: 16px;
  gap: 16px;
  margin-bottom: 40px;
}

.fab-button {
  margin-left: 10px;
}

.input_container {
  margin-left: 10px;
}

.menu_container {
  margin-left: 10px;
}
